{{define "title"}}Create book{{end}}
{{define "main"}}
  <form method="POST" action="/create">
    <div class="grid">
      <label for="title">Title*</label>
      {{with .Form.FieldErrors.title}}
        <label class='error'>{{.}}</label>
      {{end}}
      <input type="text" name="title" id="title" value="">

      <label for="isbn" >ISBN</label>
      <input type="number" name="isbn" id="isbn">
    </div>
    <div class="grid">
      <label for="author">Author</label>
      <input type="text" name="author" id="author" value="">

      <label for="category">Category</label>
      <select id="category" required name="category" id="category">
        <option value="" disabled selected>Select a fruit…</option>
        <option value="Horror" >Horror</option>
      </select>
    </div>
    {{/* TODO: add dropdown with categories */}}
    <div class="grid">
      <label for="year_of_publishing">Year of publishing</label>
      <input type="number" name="year_of_publishing" id="year_of_publishing" value="">
      <label for="url">Image</label>
      <input type="text" name="img" id="img" value="">
    </div>
    <div class="grid">
      <label for="number_of_pages">Number of pages</label>
      <input type="number" name="number_of_pages" id="number_of_pages" value="">
      <label for="personal_rating">Personal rating</label>
      <input type="number" name="personal_rating" id="personal_rating" value="">
    </div>
    <div class="grid">
      <label for="read_status">Read status</label>
      <input type="checkbox" name="read_status" id="read_status" value="">
      <label for="read_date">Read date</label>
      <input type="date" name="read_date" id="read_date" value="">
    </div>

    <label for="personal_notes">Personal notes</label>
    <textarea rows="3" cols="70" name="personal_notes" id="personal_notes"></textarea>

    <input type="submit" value="Create">
  </form>
{{end}}

	<!-- ID               int32 -->
	<!-- Isbn             string -->
	<!-- Title            string -->
	<!-- Author           string -->
	<!-- Category         string -->
	<!-- Publisher        string -->
	<!-- YearOfPublishing int32 -->
	<!-- Img              string -->
	<!-- NumberOfPages    int32 -->
	<!-- PersonalRating   float6 -->

	<!-- PersonalNotes    string -->
	<!-- ReadStatus       bool -->
	<!-- ReadDate         time.Time -->
