{{define "title"}}Create book{{end}}
{{define "main"}}
  <form method="POST" action="/create">
    {{template "book_form" .}}
    <input type="submit" value="Create">
  </form>
{{end}}

	<!-- ID               int32 -->
	<!-- Isbn             string -->
	<!-- Title            string -->
	<!-- Author           string -->
	<!-- Category         string -->
	<!-- Publisher        string -->
	<!-- YearOfPublishing int32 -->
	<!-- Img              string -->
	<!-- NumberOfPages    int32 -->
	<!-- PersonalRating   float6 -->

	<!-- PersonalNotes    string -->
	<!-- ReadStatus       bool -->
	<!-- ReadDate         time.Time -->
