{{define "title"}}{{.Book.ID}}{{end}}
{{define "main"}}
  <form method="POST" action="/create">
    {{template "book_form" .}}
    <input type="submit" value="Edit" hx-put="/edit/book/12" hx-target="body" hx-push-url="true" />
  </form>

{{end}}
