{{define "title"}}{{.Form.Title}}{{end}} {{define "main"}}
<main
  class="max-w-4xl p-6 mx-auto rounded-md shadow-lg dark:bg-gray-800 mt-20"
>
  <h1 class="text-xl font-bold text-white capitalize dark:text-white">
    edit a book
  </h1>
  <form method="POST" action="/create">
    {{template "book_form" .}}
    <input
      type="submit"
      value="Edit"
      hx-put="/edit/book/{{.Form.ID}}"
      hx-target="body"
      hx-push-url="true"
      class="btn btn-wide btn-neutral mt-6"
    />
  </form>
</main>

{{end}}
