{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{template "title" .}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/main.css" rel="stylesheet">
    <script src="/static/js/htmx.js"></script>
    
  </head>
  <body hx-boost="true">
    <!-- Back to top button -->
    <a id="back-to-top-btn"></a>
    <header>
  <h1><a href="/">Personal Library</a></h1>
    </header>
    {{template "nav" .}}
    <main>
      {{template "main" .}}
    </main>
  <footer>Made with 💕</footer>
  </body>
</html>
{{end}}
