{{define "book_details"}}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img
        src="/static/assets/library-svgrepo-com.svg"
        alt="{{.Book.Title}}"
        alt="{{.Book.Title}}"
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-white tracking-widest">
          {{.Book.Author}}
        </h2>
        <h1 class="text-gray-200 text-3xl title-font font-medium mb-1">
          {{.Book.Title}}
        </h1>
        <div class="flex mb-4 justify-around items-center">
          <span> {{if .Book.ReadStatus}} Read {{else}} Not Read {{end}} </span>
          <div class="rating">
            {{/*
            <!-- TODO: Make {{eq 5 PersonalRating}}checked{{end}} -->
            */}}
            <input
              disabled
              value="1"
              type="radio"
              name="rating-1"
              class="mask mask-star"
            />
            <input
              disabled
              value="2"
              type="radio"
              name="rating-1"
              class="mask mask-star"
            />
            <input
              disabled
              value="3"
              type="radio"
              name="rating-1"
              class="mask mask-star"
              checked
            />
            <input
              disabled
              value="4"
              type="radio"
              name="rating-1"
              class="mask mask-star"
            />
            <input
              disabled
              value="5"
              type="radio"
              name="rating-1"
              class="mask mask-star"
            />
          </div>
          <span
            class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200 space-x-2s"
          >
            <!-- TODO: amazon link, goodreads?  -->
            <a class="text-gray-500">
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
                ></path>
              </svg>
            </a>
            <a class="text-gray-500">
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"
                ></path>
              </svg>
            </a>
          </span>
        </div>
        <p class="leading-relaxed">
          <!-- TODO: truncate text -->
          {{.Book.PersonalNotes}}
        </p>

        <!-- Forth -->
        <div
          class="flex justify-around mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5"
        >
          <!-- TODO: loop for categories -->
          <div class="badge badge-outline">{{.Book.Category}}</div>
          <div>{{.Book.NumberOfPages}} Pages</div>
          <div>Published:{{.Book.YearOfPublishing}}</div>
        </div>

        <!-- Fifth -->

        <div class="flex">
          <span> {{.Book.Publisher}} ISBN:{{.Book.Isbn}} </span>
        </div>
      </div>
    </div>
  </div>
</section>

{{end}} {{/*
<div>
  <p>{{.Book.Isbn}}</p>
  <p>{{.Book.Publisher}}</p>
  {{/*
  <!-- <img src="{{.Book.Img}}" alt="{{.Book.Title}}"> -->
  */}}
  <img
    src="/static/assets/library-svgrepo-com.svg"
    alt="{{.Book.Title}}"
    class="w-80"
  />
  <p>{{.Book.ReadDate}}</p>

  <h1>{{.Book.Title}}</h1>
  <p>{{.Book.PersonalRating}}</p>
  <p>{{.Book.PersonalNotes}}</p>
  <p>{{.Book.ReadStatus}}</p>
  <p>{{.Book.NumberOfPages}}</p>
  <p>{{.Book.Author}}</p>
  <p>{{.Book.Category}}</p>
  <p>{{.Book.YearOfPublishing}}</p>
</div>
*/}}
