{{define "books_list"}}
<div id="books-list">
  {{with .Books}}
    {{range .}}
      {{/*I want title,img,rating*/}}
      <article id="book_card" class="book" hx-get="/book/{{.ID}}" hx-target="body" hx-push-url="true">
        <h3>{{.Title}}</h3>
      <p>{{.Author}}</p>
      <p>{{.PersonalNotes}}</p>
      </article>
    {{end}}
  {{end}}
  {{if .IsPageNext}}
  <button 
    id="load-more-btn"
    hx-get="/books/{{.NextPage}}"
    hx-swap="outerHTML"
    >
  Load more </button>
  {{end}}
</div>
{{end}}
